.header__pc-menu {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  margin: 0 auto;
  padding: 15px;
  &__company-name {
    margin: 0 15px 0 0;
    color: var(--secondary-title-color);
  }
}
