.header__pc-menu {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  margin: 0 auto;
  padding: 15px;
  &__company-name {
    margin: 0 15px 0 0;
    color: var(--secondary-title-color);
  }
  &__mob-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.icon-cross {
  display: none;
}

.header__mob-menu.is-open .icon-menu {
  display: none;
}

.header__mob-menu.is-open .icon-cross {
  display: block;
}

.icon-cross:hover path {
  fill: var(--accent-color);
}

.icon-menu:hover path {
  fill: var(--accent-color);
}
