.hero-wrapper {
  // background: var(--third-bg-color);
  background-blend-mode: multiply;

  @media screen and (max-width: '767px') {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg_mob.png) no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: '768px') and (max-width: '1199px') {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg_tab.png) no-repeat;
    background-size: cover;
  }
  @media screen and (min-width: '1200px') {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg_pc.png) no-repeat;
    background-size: cover;
  }
}

.hero {
  padding: 120px 15px;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: var(--primary-bg-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6em;
    margin: 0 0 30px 0;
    @media screen and (min-width: '1200px') {
      font-size: 44px;
      line-height: 1.4em;
    }
  }

  &__button {
    padding: 10px 30px;
  }
}
