:root {
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --secondary-bg-color: #f5f4fa;
  --secondary-link-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #2f303a;
  --secondary-title-color: #000000;
}
